
@font-face {
  font-family: 'Circular-Std-Book';
  font-style: normal;
  font-weight: 300;
  src: url("../resources/fonts/Circular-Std-Book.otf");
}

@font-face {
  font-family: 'Circular-Std-medium';
  font-style: normal;
  font-weight: 500;
  src: url("../resources/fonts/Circular-Std-Medium.otf");
}

@font-face {
  font-family: 'Circular-Std-bold';
  font-style: normal;
  font-weight: 600;
  src: url("../resources/fonts/Circular-Std-Bold.otf");
}
